/*

Code by Mads Donkin

*/
@import "settings";
@import "foundation";

// Or selectively include components
@import
"foundation/components/button-groups",
"foundation/components/buttons",
"foundation/components/grid",
"foundation/components/pricing-tables",
"foundation/components/global",
"foundation/components/reveal",
"foundation/components/flex-video"; 

@font-face {
    font-family: 'solido condensed book';
    src: url(http://maxer.dk/sites/all/themes/dave/dist/fonts/SolidoCondensed-Book.eot);
    src: url(http://maxer.dk/sites/all/themes/dave/dist/fonts/SolidoCondensed-Book.eot?#iefix) format("embedded-opentype"), url(http://maxer.dk/sites/all/themes/dave/dist/fonts/SolidoCondensed-Book.woff) format("woff"), url(http://maxer.dk/sites/all/themes/dave/dist/fonts/SolidoCondensed-Book.ttf) format("truetype"), url(http://maxer.dk/sites/all/themes/dave/dist/fonts/SolidoCondensed-Book.svg#SolidoCondensedBook) format("svg");
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: 'solido condensed bold';
    src: url(http://maxer.dk/sites/all/themes/dave/dist/fonts/SolidoCondensed-Bold.eot);
    src: url(http://maxer.dk/sites/all/themes/dave/dist/fonts/SolidoCondensed-Bold.eot?#iefix) format("embedded-opentype"), url(http://maxer.dk/sites/all/themes/dave/dist/fonts/SolidoCondensed-Bold.woff) format("woff"), url(http://maxer.dk/sites/all/themes/dave/dist/fonts/SolidoCondensed-Bold.ttf) format("truetype"), url(http://maxer.dk/sites/all/themes/dave/dist/fonts/SolidoCondensed-Bold.svg#SolidoCondensedBold) format("svg");
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: 'solido condensed bold italic';
    src: url(http://maxer.dk/sites/all/themes/dave/dist/fonts/SolidoCondensed-BoldItalic.eot);
    src: url(http://maxer.dk/sites/all/themes/dave/dist/fonts/SolidoCondensed-BoldItalic.eot?#iefix) format("embedded-opentype"), url(http://maxer.dk/sites/all/themes/dave/dist/fonts/SolidoCondensed-BoldItalic.woff) format("woff"), url(http://maxer.dk/sites/all/themes/dave/dist/fonts/SolidoCondensed-BoldItalic.ttf) format("truetype"), url(http://maxer.dk/sites/all/themes/dave/dist/fonts/SolidoCondensed-BoldItalic.svg#SolidoCondensedBoldItalic) format("svg");
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: 'proxima nova light';
    src: url(http://maxer.dk/sites/all/themes/dave/dist/fonts/ProximaNova-Light.eot);
    src: url(http://maxer.dk/sites/all/themes/dave/dist/fonts/ProximaNova-Light.eot?#iefix) format("embedded-opentype"), url(http://maxer.dk/sites/all/themes/dave/dist/fonts/ProximaNova-Light.woff) format("woff"), url(http://maxer.dk/sites/all/themes/dave/dist/fonts/ProximaNova-Light.ttf) format("truetype"), url(http://maxer.dk/sites/all/themes/dave/dist/fonts/ProximaNova-Light.svg#ProximaNovaLight) format("svg");
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: 'proxima nova light italic';
    src: url(http://maxer.dk/sites/all/themes/dave/dist/fonts/ProximaNova-LightItalic.eot);
    src: url(http://maxer.dk/sites/all/themes/dave/dist/fonts/ProximaNova-LightItalic.eot?#iefix) format("embedded-opentype"), url(http://maxer.dk/sites/all/themes/dave/dist/fonts/ProximaNova-LightItalic.woff) format("woff"), url(http://maxer.dk/sites/all/themes/dave/dist/fonts/ProximaNova-LightItalic.ttf) format("truetype"), url(http://maxer.dk/sites/all/themes/dave/dist/fonts/ProximaNova-LightItalic.svg#ProximaNovaLightItalic) format("svg");
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: 'proxima nova bold';
    src: url(http://maxer.dk/sites/all/themes/dave/dist/fonts/ProximaNova-Bold.eot);
    src: url(http://maxer.dk/sites/all/themes/dave/dist/fonts/ProximaNova-Bold.eot?#iefix) format("embedded-opentype"), url(http://maxer.dk/sites/all/themes/dave/dist/fonts/ProximaNova-Bold.woff) format("woff"), url(http://maxer.dk/sites/all/themes/dave/dist/fonts/ProximaNova-Bold.ttf) format("truetype"), url(http://maxer.dk/sites/all/themes/dave/dist/fonts/ProximaNova-Bold.svg#ProximaNovaBold) format("svg");
    font-style: normal;
    font-weight: normal
}


$light-blue : #3fa9f5;
$dark-blue	: #15578c;
$off-white	: #f2f0eb;	

body {
	background: $off-white;
	font-family: 'proxima nova light', 'Helvetica Neue', arial, sans-serif;
	font-size: 1rem;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'solido condensed bold','Helvetica Neue', arial, sans-serif;;
    text-transform: uppercase;
}
b {
    font-family: 'proxima nova bold', 'Helvetica Neue', arial, sans-serif;
    font-weight: normal;
}
.large.button {
    font-family: 'solido condensed bold';
    text-transform: uppercase;
    font-size: 2em !important;
}
header {
	background-color: $light-blue;
    h1 {
        margin: 0 0 0.2em 0;
    }
    .phrase {
        color:$off-white;
        padding:16px;
        margin: 0;
        font-family: 'solido condensed book';
    }

}

.video {
	padding: 0;
}

.flex-video { 
	margin-top: 0px; 
	
    &.youtube { 
      padding-bottom: 56.34%; 
  } 
  &.half-video {
    padding-bottom: 28.17%;
  }

} 

.cta-btn, .button-group .button {

	background: $light-blue;
	
    &:hover {
      background: $dark-blue;
  }

}

.text-description {

    ul { list-style:none; }
    li { 
        margin-bottom:10px; 
        background: $off-white;
    font-family: 'proxima nova light', 'Helvetica Neue', arial, sans-serif;
    font-size: 1rem;
    }
    ul li:before {    
        content: '✔';
        padding: 0 0.5rem 0 0;
        color:$light-blue;

    }
}


blockquote .rating {
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
    color:#407853; 
}

.pricing-table {

    .title {
        background: $steel;
    }

    .price {
        font-size: 1.6rem;
    }
    .description {
        font-size: 0.8rem;
    }
}

.pricing-table.recomended {

    .title {
        font-size: 1.4rem;
        background: $oil;
    }

    .price {
        font-size: 2rem;
    }
    .description {
        font-size: 1rem;
    }
    .cta-btn {
        font-size: 1.6rem;
    }
}

.band {
    height: 100px;
    width: 100px;
    background: url('../img/band.png') no-repeat top right;
    position: absolute;
    top:0;
    right:0.85rem;
    z-index:2;
}

.reveal-modal-bg {
    position: fixed;
}
.bio-pic {
    padding:0 0 10px 0;
}

/*------------------------------
        MEDIA QUERIES
------------------------------*/

@media #{$small-up} { 
	.text-description p, .text-description  li {
       font-size: 1.0rem;
   }
}

@media #{$medium-up} { 
    .text-description p, .text-description  li {
		font-size: 1.1rem;
	}
}
@media #{$medium-only} { 
    blockquote .rating {
        font-size: 1.5rem;
    }
}

@media #{$large-up} { 
    .text-description p, .text-description  li {
		font-size: 1.2rem;
	}
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
   .band {
    background: url('../img/band@2x.png') no-repeat top right;
    background-size: 100px 100px;
}
}


